{% extends 'base.html' %}

{% block customecss %}
{% load static %}
<!--
<link rel="stylesheet" type="text/css" href="{% static "surgery/style.css" %}">
-->
<style>

</style>
{% endblock %}

{% block content %}
        <h1>Surgery treated animal list</h1>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">animalid</th>
                    <th scope="col">species</th>
                    <th scope="col">gender</th>
                    <th scope="col">age</th>
                    <th scope="col">method</th>
                </tr>
            </thead>
            {% for obj in animals %}
            <tr>
                <td><a href = "{% url 'info' obj.animalid %}">{{ obj.animalid }}</a></td>
                <td>{{ obj.species }}</td>
                <td>{{ obj.gender }}</td>
                <td>{{ obj.dob }}</td>
                <td>
                {% for t in obj.surgtreatment_set.all %}
                {{ t.method }} ({{ t.date }}) &nbsp
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>If the animal is not in above list. Please input the animalid and search.</p>
        <form action="info/" method="get">
            Animal id: <input type="text" name="animalid">
            <input type="submit" value="Search">
        </form>

{% endblock %}